/* ----------------------------------------HEADING ON ALL PAGES------------------------------------- */

/* Importing IBM Plex Sans fonts */
@font-face {
    font-family: IBM Plex Sans700;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: IBM Plex Sans600;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}

@font-face {
    font-family: IBM Plex Sans400;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM Plex Sans500;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family: IBM Plex Sans200;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
}

@font-face {
    font-family: IBM Plex Sans300;
    src: url(images/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
}

/* Background colour */
body {
    background-color: #EDEBE6;
  }

/* Heading div */
.divheading{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    margin-right: 5%;
}

/* Heading style */
h1{
    padding-left: 20px;
    color: #020A36;
    font-family: IBM Plex Sans700;
    font-style: normal;
    font-size: 55px;
    line-height: 72px;
    text-decoration: none;
    
}

.logolink{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

/* Website Body */

.websitebody{
    display: flex;
    flex-direction: column;
}




/* ----------------------------------------INDEX PAGE------------------------------------- */

/* Website options */

.websiteoptions{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
}


/* Take the quiz card */

.option{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    width: 550px;
    height: 471px;
    margin-right: 5%;
    margin-left: 5%;
}

.option:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    border-radius: 20px;
}

/* Option Cards Card 1*/

#topofquizcard{
    background: #5D3754;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

#bottomofcard{
    background: white;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    height: 30%;
}

#bottomofsecondcard{
    background: white;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    height: 30%;
}

#textcardlabel{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #020A36;
}

#textcardlabeltwo{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #020A36;
}

.takethequizimage{
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.viewcheatsheet{
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

#quizcardlink1{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}


/* Option Cards Card 2*/

#topofcheatsheetcard{
    background: #008B8B;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}


#quizcardlink2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

/* Media Query for responsive design */

@media (max-width: 1270px) {
    .websiteoptions {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
    }

    #quizcardlink1{
        margin-right: 0%;
        margin-bottom: 7%;
    }

    #quizcardlink2{
        margin-left: 0%;
        margin-top: 7%;
    }
}

.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}


/* ----------------------------------------CHEATSHEET PAGE------------------------------------- */

/* Header Flex Boxes */
.headingleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;
}

.cheatsheetbuttonlink{
    display: flex;
    text-decoration: none;
}


.headingright{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex: 0 1 auto;
}


/* Go To Quiz Button */
.gotoquizbutton{
    background: #5D3754;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    height: 69px;
}

.gotoquizbutton:hover{
    background: #431939;
}

.takethequizbuttonimage{
    align-items: center;
    justify-content: center;
    height: 24px;
    display: flex;
    margin-left: 40px;
    /* z-index: 2000; */
}


.buttontitle{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 15px;
    margin-right: 40px;
}


/* Page Title */
.pagetitle{
    margin-right: 5%;
    margin-left: 6%;
}

.biaspagetitle{
    font-family: IBM Plex Sans400 ;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #020A36;
    margin-bottom: 35px;
    font-weight: 400;
}

hr{
    border: 1px solid #020A36;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

/* Cognitive Bias Cards */

.allcognitivebiascards{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.individualbiascards{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
}

.individualbiascards:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    border-radius: 20px;
}

.topofbiascard{
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    align-items: center;
    height: 250px;
}

.bottomofbiascard{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.biascardtitle{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    color: #020A36;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 7%;
    margin-bottom: 0%;
}

.biascardsubtitle{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #020A36;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
}

.biasimage{
    height: 75%;
}

/* Confirmation Bias Card */

#topconfirmationbias{
    background: #008B8B;
}

#cognitiebiascard{
    margin-right:2%;
}



/* Decoy Effect Card */

#decoyeffectcard{
    margin-right:2%;
    margin-left:2%;
}

#topdecoyeffect{
    background: #0F4880;
}

/* Anchoring Bias */

#topanchoringbias{
    background: #5D3754;
}

#anchoringbiascard{
    margin-left:2%;
}


/* Media Query for responsive design */

@media (max-width: 1200px) {
    .allcognitivebiascards{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    #cognitiebiascard{
        margin-right:0%;
    }

    #decoyeffectcard{
        margin-right:0%;
        margin-left:0%;
    }

    #anchoringbiascard{
        margin-left:0%;
    }

    .individualbiascards{
        margin-bottom: 6%;
        width: 50%;
    }

    .divheading{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .cheatsheetbuttonlink{
        width: 100%;
    }

    .headingright{
        width: 100%;
        justify-content: end;
        margin-top: 1%;
    }

    .cognitivebiasexplained{
        height: 100%;
    }
}

/* ----------------------------------------CONFIRMATION PAGE------------------------------------- */

/* Pop Up display */
.cognitivebiasbodywrapper{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#confirmationbiasdetails{
    display:none;
}

#decoyeffectdetails{
    display:none;
}

#anchoringbiasdetails{
    display:none;
}

/* Card Background */

.cognitivebiasexplained{
    background: white;
    margin: 3%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

/* Card Header */
.headercolour{
    background: #008B8B;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
}

#decoyeffectheader{
    background: #0F4880;
}

#anchoringbiasheader{
    background: #5D3754;
}


.explanationheader{
    font-family: IBM Plex Sans700;
    font-style: normal;
    font-size: 50px;
    line-height: 65px;
    color: #FFFFFF;
    flex: 1;
    margin-left: 4%;
}

.cardheadingandlogo{
    display:flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-right: 2%;
}

.exit{
    margin: 1%;
    cursor: pointer;
}

/* Card Details */
.biasbrief{
    background:#EBF6F6;
    border-radius: 10px;
    margin: 3%;
    align-items: center;
    justify-content: center;
}

#decoyeffecttextbox{
    background-color: #ECF0F5;
}

#anchorbiastextbox{
    background-color: #EFEBEE;
}

.brieftext{
    font-family: IBM Plex Sans500;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #0E5A5A;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: 3%;
}

#decoyeffecttext{
    color: #0A2F53;
}

#anchorbiastext{
    color: #431939;
}

.question{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #020A36;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.explanation{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #020A36;
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 0px;
}

.confirmationquizimage{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#confirmationbiascards{
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 55%;
}

#confirmationbiasanswer{
    height: 100%;
    margin-bottom: 4%;

}

#decoyeffectcards{
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 55%;
}

#anchorbiascards{
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 25%;
}


/* Confirmation Card Resources */

.resources{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #020A36;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
}

.resourcelink{
    text-decoration: none;
}

.resourcelinkscontent{
    background: #EBF6F6;
    margin: 3%;
    padding-right: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
}

.resourcelinksdecoyeffect{
    background: #ECF0F5;
    margin: 3%;
    padding-right: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
}

.resourcelinksanchorbias{
    background: #EFEBEE;
    margin: 3%;
    padding-right: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
}

.border{
    display: flex;
    height: 100%;
    flex-grow: inherit;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.linkname{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    color: #0E5A5A;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.linkauthor{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #13100C;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
}

.linknamedecoy{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    color: #0A2F53;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.linknameanchor{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    color: #5D3754;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.borderimage{
    height: 100%;
    display: flex;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowimage{
    width: 70px;
    padding-right: 10%;
    margin-right: 10%;
}

#linktwoconfirmation{
    margin-bottom: 6%;
    margin-top: 1%;
}

#linktwocognitive{
    margin-bottom: 6%;
    margin-top: 1%;
}

#linktwoanchor{
    margin-bottom: 6%;
    margin-top: 1%;
}



/* ----------------------------------------QUIZ PAGE------------------------------------- */

/* Go to cheatsheet button */

.gotocheatsheetbutton{
    background: #007A7A;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    height: 69px;
}

.gotocheatsheetbutton:hover{
    background: #0E5A5A;
}

.gotocheatsheetbuttonimage{
    align-items: center;
    justify-content: center;
    height: 24px;
    display: flex;
    margin-left: 40px;
    /* z-index: 500; */
}


/* Quiz Cards */

.cardbackground{
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    margin-top: 2%;
}

.cardtitle{
    font-family: IBM Plex Sans700;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #16171B;
}

.cardquestion{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #16171B;
    margin-top: 0px;
    padding-bottom: 1%;
}

/* Quiz Card Options */

.question1options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

#question1optiononeimage{
    margin-right: 2%;
    flex: 1;
    cursor: pointer;
}

#question1optiontwoimage{
    margin-right: 2%;
    margin-left: 2%;
    flex: 1;
    cursor: pointer;
}

.question1optionthreeimage{
    margin-left: 2%;
    flex: 1;
    cursor: pointer;
}

/* Flipped Card */
/* cite https://www.w3schools.com/howto/howto_css_flip_card.asp*/

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    box-sizing: border-box;
    width: 90%;

}

/* Flipcard back */
.flip-card-back {
    transform: rotateY(180deg);
}

#answer1{
    display: none;
}

#answer2{
    display: none;
}


.rotated-card {
    transform: rotateY(180deg);
}


/* Card back CSS */
.cardanswer{
    font-family: IBM Plex Sans600;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #020A36;
    margin-top: 5%;
    margin-bottom: 0%;
}

.cardanswertwo{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #020A36;
    margin-top: 2%;
    margin-bottom: 0%;
}

#effectname{
    font-family: IBM Plex Sans600;
}

#effectname2{
    font-family: IBM Plex Sans600;
}

.decoyexplanation{
    display: flex;
}

.decoyexplanationleft{
    display: flex;
    flex-direction: column;
}

.abouteffect{
    font-family: IBM Plex Sans500;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    color: #020A36;
    margin-top: 5%;
    margin-bottom: 0%;

}

.effectexplanantion{
    font-family: IBM Plex Sans400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #020A36;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.learnmore{
    font-family: IBM Plex Sans500;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #020A36;
    background: white;
    align-items: flex-start;
    padding: 14px 14px;
    border: 1px solid #020A36;
    border-radius: 5px;
    width: 18%;
    margin-bottom: 4%;
    cursor: pointer;
}


/* To make the website responsive */

@media (max-width: 1370px) {

    .question1options {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #question1optiononeimage{
        margin-right: 0%;
        margin-bottom: 3%;
    }

    #question1optiontwoimage{
        margin-right: 0%;
        margin-left: 0%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .question1optionthreeimage{
        margin-right: 0%;
        margin-left: 0%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .decoyexplanation{
        flex-direction:column-reverse;
        padding-bottom: 30%;
    }

    .decoyexplanationright{
        margin-top: 2%;
        align-items: center;
        justify-content: center;

    }

    .learnmore{
        margin-top: 1%;
    }

}

/* .darkmode-background {
    background: transparent !important;
} */

